.error {
    color: tomato;
}

div.main-text {
    display: inline-block;
    border: 2px solid red;
}

a[href] {
    /* background-color: teal ; */
    color: tomato;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href*="vonnue"] {
    /* background-color: teal ; */
    color: tomato;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}