body {
    background: #eee;
    font-size: 15px;
    font-family: sans-serif;
}

#content {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    /* grid-auto-rows: minmax(200px, auto) */
    grid-template-rows: repeat(4, minmax(200px, auto));
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

#content div {
    background: aqua;
    padding: 20px;
}
#content div:nth-child(even) {
    background: burlywood;
}