h1 {
    border: 5px solid rgb(48, 47, 47);
    background-color: rgb(131, 127, 127);
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
}
body{
    background-color: rgb(168, 164, 164);
}

div.atags {
    text-align: center;
}

a[href$="#"] {
    border: 2px solid tomato;
    /* border-spacing: 10px; */
    background-color: rgb(196, 189, 189);
    margin-left: 30px;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
}

div.students {
    border: 1px solid rgb(82, 82, 236);
    background-color: rgb(159, 208, 236);
    text-align: center;
    margin-top: 5px;
    margin-left: 570px;
    margin-right: 550px;
    font-size: 20px;
}

div.sub {
    display: inline-block;
    position: relative;
    bottom: 150px;
}

div.inputs {
   margin-left: 740px;
}

div.inserttext {
    display: inline-block;
    margin-left: 2in;
    
}

div.submit{
    display: inline-block;
    margin-left: 150px;
    shape-margin: 10px;
}
div.reset {
    display: inline-block;
    margin-left: 20px;  
}

.footer {
    border: 2px solid tomato;
    background-color: white;
    text-align: center;
    margin-left: 570px;
    margin-right: 550px;
    padding: 10px;
}