* {
    height: auto;
    width: auto;
}
body    {
    background-color: honeydew;
}
h1{
    border: 2px solid rgb(31, 30, 30);
    /* margin: 10px 50px; */
    text-align: center;
    text-transform: uppercase;
    padding: 10px; 
    background-color: rgb(161, 161, 161);
}

nav {
    text-align: center;
    margin: 15px;
}

a[href$='#'] {
    border: 2px solid rgb(87, 48, 48);
    padding: 10px;
    text-align: center;
    margin-right: 25px;
}

h2 {
    border: 2px solid rgb(107, 107, 197);
    /* margin: 10px 50px; */
    text-align: center;
    padding: 10px;
    background-color: rgb(105, 105, 238);
}
.inputs {
    text-align: center;
     /* margin: 10px 50px;  */
}

#name {
    position: relative;
    right: 72px;
    margin-left: 123px;
}
#address1 , #address2 {
    position: relative;
    right: 75px;
    margin-left: 165px;
}
#pincode {
      margin-left: 170px;
      position: relative;
      right: 75px;
}
#email {
    margin-left: 180px;
    position: relative;
    right: 75px;
}
.option{
    display: inline;
    margin-left: 210px;
    position: relative;
    right: 110px;
}

#datemax {
    margin-left: 155px;
    margin-right: 25px;
    position: relative;
    right: 90px;
}
.sub {
    display: inline;
    position: relative;
    bottom: 140px;
}
#remarks   {
    margin-left: 100px;
    position: relative;
    right: 10px;
   
}
.submit {
    display: inline;
    margin-left: 85px;
}
.reset {
    display: inline;
}

.footer{
    border: 1px solid darkgreen;
    /* margin: 10px 50px;  */
    text-align: center;
}

@media screen and (max-width:731px) {
    nav {
        font-size: 12px;
    }
}
@media screen and (max-width:631px) {
    nav {
        font-size: 10px;
    }
}

@media screen and (max-width: 580px) {
    h1 {
      font-size: 17px;
    }
    h2 {
        font-size: 17px
    }
    a[href$='#'] {
        display: block;
        margin: 2px;
        font-size: 17px;
        /* margin-right: 150px;
        margin-left: 150px; */
      }
}

@media screen and (max-width: 480px) {
    a[href$='#'] {
      display: block;
      margin: 2px;
      font-size: 17px;
    }
}


@media screen and (max-width: 440px) {
   .inputs {
       text-align: left;
   }
    #address1, #address2, #pincode {
    position: relative;
    right: 72px;
    margin-left: 30.5%;
}
#name {
    margin-left: 21%;
}
#pincode {
    margin-left: 33%;
}
#email {
    margin-left: 37%;
} 
.option {
    margin-left: 45%;
} 
#datemax {
    margin-left: 30%;
}
#remarks {
    margin-left: 16%;
}
.sub{
   left: 0;
}
}

 @media screen and (max-width: 396px) {
    .inputs {
        display: inline;
        text-align: left;
        font-size: 13px;
    }
    #address1, #address2, #email, #pincode, .sub, .option,  #remarks, #pincode {
        display: inline;
        position: relative;
        left: auto;
    }
    #name {
        display: inline;
        position: relative;
        left: -20%; 
    }
    #remarks {
        position: relative;
        margin-left: 28%;
    }
    .sub{
        position: relative;
        bottom: -15px;
    }
    #datemax {
        margin-left: 105px;
    }
    .none {
        display: none;
    }
}


@media screen and (max-width: 370px) {
    .inputs {
        display: inline;
        text-align: left;
        font-size: 10.5px;
    }
    #address1, #address2, , #email, #pincode, .sub, .option,  #remarks, #pincode {
        display: inline;
        position: relative;
        left: 50%;
    }
    #name {
        display: inline;
        position: relative;
        left: -20%; 
    }
    #remarks {
        position: relative;
        margin-left: 28%;
    }
    .sub{
        position: relative;
        bottom: -15px;
    }
    #datemax {
        margin-left: 105px;
        position: relative;
        right: 24%;
    }
    .none {
        display: none;
    }
}

@media screen and (max-width: 357px) {
    .inputs {
        display: inline;
        text-align: left;
        font-size: 10.5px;
    }
    #address1, #address2, .sub, #remarks, #pincode {
        display: inline;
        position: relative;
        margin-left: 59%;
    }
    .name {
        position: relative;
        bottom: -18px;
        left: 0.5%;
    }
    #name { 
        display: inline;
        position: relative;
        margin-left: 57%;
    }
    .address {
        position: relative;
        bottom: -18px;
        left: 0.5%;
    }
    .pincode {
        position: relative;
        bottom: -18px;
        left: 0.5%;
    }
    #pincode {
        display: inline;
        position: relative;
        margin-left: 59%;
    }
    .email {
        position: relative;
        bottom: -18px;
        left: 0.5%;
    }
    #email {
        display: inline;
        position: relative;
        margin-left: 60%;
    } 
    #remarks {
        position: relative;
        margin-left: 28%;
    }
    .sub{
        position: relative;
        bottom: -20px;
        left: -59%;
    }
    .dob{
        position: relative;
        bottom: -20px;
        left: 0.5%;
    }
    #datemax {
        position: relative;
        margin-left: 61%;
    }
    .gender{
         position: relative;
         
    }
    .option {
        position: relative;
        left: -19%;
    }  
    .none {
        display: none;
    }
}

